@import '../../styles/colors';
@import '../../styles/fonts';
@import "../../styles/flex-mixins";
@import "../../styles/mixins";

.project {
  font-family: $primary-font;
  text-align: center;
  color: white;
  background: #5e7a8b;
  margin-top: -250px;
  padding-top: 150px;
  h1 {
    font-family: $bold-font;
    font-size: 4.5rem;
  }
}

.project-container {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  @media (max-width:1000px ) {
    flex-direction: column;
    @include widthHeight(100%,auto);
    @include flex-display-justify-align(space-between,center);
    div:not(last-child){
     margin-bottom: 30px;
   }
  }
}
Card{
  @media (max-width:1000px ) {
    margin-bottom: 20px;
  }
}
