@import '../../styles/colors';
@import '../../styles/fonts';

.Contact {
  width: 100%;
  background: linear-gradient(140deg, #000000, #1a3938);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .contact-info {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .profile-img {
    margin-bottom: 15px;
    width: 150px;
    border-radius: 50%;
    border: #5E7A8C 3px solid;
  }
  ul {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    li {
      width: 30px;
      height: 30px;
    }
  }
}

.icon {
  width: 30px;
}

.contact-desc {
  width: 60%;
  font-family: $primary-font;
  font-size: 1.4rem;
  color: white;
}